.tab
  background: var(--background-color)
  color: var(--color)
  font-size: var(--font-size)
  cursor: var(--cursor)
  height: 100%
  position: relative
  flex: 1
  opacity: 0.8
  &--active
    opacity: 1
    .tab__cursor
      visibility: visible
  &__bar
    background: #5e6469
    padding: 10px
    display: flex
    align-items: center
    justify-content: space-between
  &__btn
    background: none
    border: none
    outline: none
    border-radius: 50%
    cursor: pointer
    padding: 5px
    display: block
    &:hover
      background: #383b36
    &--settings
      margin-left: auto
  &__pane
    //padding: 10px
    //overflow: auto
    max-height: calc(100% - 75px )
    display: flex
  &__title
    color: #52c22c

    margin-left: 15px

  &__close

  &__icon
    width: 15px
    height: 15px
    display: block
    &--close
      fill: red
    &--settings
      fill: #10adff
    &--add
      fill: #52c22c
  &__cursor
    background: #ffffff
    width: 5px
    height: 12px
    display: inline-block
    margin-left: 3px
    animation: blink 1s step-start 0s infinite
    visibility: hidden

@keyframes blink
  50%
    opacity: 0
//&__add
  //position: absolute
  //bottom: 20px
  //right: 20px
.dropdown
  position: relative
  &__box
    position: absolute
    //padding: 10px
    background: #fff
    top: 100%
    right: 0
    width: 200px
    label,
    a
      display: block
      padding: 5px
      cursor: pointer
      &:hover
        background: #10adff
        color: #fff
    label
      display: flex
      justify-content: space-between
      align-items: center